* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-image: radial-gradient(circle at 97% 32%, rgba(131, 131, 131,0.05) 0%, rgba(131, 131, 131,0.05) 50%,rgba(20, 20, 20,0.05) 50%, rgba(20, 20, 20,0.05) 100%),radial-gradient(circle at 61% 40%, rgba(35, 35, 35,0.05) 0%, rgba(35, 35, 35,0.05) 50%,rgba(239, 239, 239,0.05) 50%, rgba(239, 239, 239,0.05) 100%),radial-gradient(circle at 47% 73%, rgba(122, 122, 122,0.05) 0%, rgba(122, 122, 122,0.05) 50%,rgba(5, 5, 5,0.05) 50%, rgba(5, 5, 5,0.05) 100%),linear-gradient(90deg, rgb(0, 209, 117),rgb(205, 241, 44));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    padding: 50px;
    font-size: 4em;
    margin-bottom: 40px;
    text-shadow: 0 0 5px gray;
}

h1,p {
    text-align: center;
}

#content {
    margin: 50px auto;
    width: 60vw;
    padding: 20px;
    background-color: rgba(205, 241, 44, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

p {
    margin: 40px auto;
    font-size: 1.5em;
}

a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 161, 91);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: rgb(1, 172, 98);
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
    }
    #content {
        width: 90vw;
    }
}