* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    padding: 50px;
    font-size: 4em;
    margin-bottom: 40px;
}

h1,p {
    text-align: center;
}

p {
    margin: 40px auto;
    width: 50%;
    font-size: 1.5em;
}

a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    background-color: darkslategray;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px darkslategray;
}

a:hover {
    background-color: rgb(100, 100, 100);
}