* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: repeating-linear-gradient(0deg, transparent 0px, transparent 25px,hsla(103,93%,47%,0.25) 25px, hsla(103,93%,47%,0.25) 27px,transparent 27px, transparent 51px),repeating-linear-gradient(90deg, transparent 0px, transparent 25px,hsla(103,93%,47%,0.25) 25px, hsla(103,93%,47%,0.25) 27px,transparent 27px, transparent 51px),repeating-linear-gradient(90deg, transparent 0px, transparent 50px,hsla(342,4%,99%,0.25) 50px, hsla(342,4%,99%,0.25) 52px,transparent 52px, transparent 102px),repeating-linear-gradient(0deg, transparent 0px, transparent 50px,hsla(342,4%,99%,0.25) 50px, hsla(342,4%,99%,0.25) 52px,transparent 52px, transparent 102px),repeating-linear-gradient(0deg, hsla(113,59%,66%,0.25) 0px, hsla(113,59%,66%,0.25) 2px,transparent 2px, transparent 102px),repeating-linear-gradient(90deg, hsla(113,59%,66%,0.25) 0px, hsla(113,59%,66%,0.25) 2px,transparent 2px, transparent 102px),linear-gradient(90deg, rgb(31,31,31),rgb(31,31,31));
}

h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    margin-top: 20px;
}

#content {
    margin: 25px auto;
    width: 870px;
    background-color: black;
    color: white;
    padding: 5px;
}

canvas {
    background-color: black;
    display: block;
    margin: 10px auto;
    border: white solid thin;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#left, #middle, #right {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start {
    font-size: 1.5em;
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

label, span, ul {
    padding: 5px;
    font-size: 1.5em;
}



select, button {
    padding: 2px 10px;
    font-size: 1em;
    margin-bottom: 5px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
}

button:active {
    transform: scale(0.95);
}

ul {
    list-style-type: none;
}