body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    text-shadow: 0 0 5px rgba(40, 40, 40, 0.7);
}

.top-banner {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.msg {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 5px rgba(40, 40, 40, 0.7);
}

input, button {
    margin: 0 5px;
    border: none;
    outline: none;
    font-size: 1.5em;
    line-height: 1.5em;
    border-radius: 5px;
    padding: 2.5px 10px;
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.7);
}

button {
    background-color: darkslateblue;
    color: white;
}

.ajax-section {
    display: none;
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.7);
    backdrop-filter: blur(3px);
}

.display {
    display: flex;
    align-items: center;
}

.city-icon {
    background-color: cornflowerblue;
    border-radius: 10px;
}

.city-name {
    font-size: 3em;
}

.city-temp {
    font-size: 4em;
}

.description-text {
    font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
    
    .ajax-section {
        width: 90vw;
        padding: 5px;
    }
    .city-temp {
        font-size: 3em;
    }
    .city-icon {
        max-width: 200px;
        max-height: auto;
    }
    form {
        width: 90vw;
    }
}