* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding: 0;
    border: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e76f51;
    z-index: 8;
}

#navbar ul {
    background-color: #e76f51;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

#navbar ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    line-height: 2em;
    margin: 0 20px 0 20px;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 800px) {
    .topnav a {
        display: none;
    }
    .topnav a.hamburger {
        display: block;
        float: right;
    }
    #navbar ul {
        flex-direction: column;
    }
    .topnav.responsive a {
        display: block;
    }
    .topnav.responsive a.hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
}

#mainPage {
    padding-top: 50px;
    min-height: 100vh;
    background-color: #2a9d8f;
}

#mainPage h1 {
    padding: 50px;
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 0 0 10px gray;
}

#mainPage p {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.5em;
    color: white;
    text-align: justify;
    text-indent: 1em;
}

#mainPage p:last-of-type {
    padding-bottom: 50px;
}

#mainPage figure {
    box-sizing: border-box;
    margin: 20px auto;
    width: 50%;
    background-color: #f4a261;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px gray;
}

#mainPage img {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

#mainPage figcaption {
    color: white;
    text-align: center;
    line-height: 2em;
}

#mainPage figcaption a {
    text-decoration: none;
    color: white;
}

#mainPage figcaption a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    #mainPage p {
        width: 75%;
    }

    #mainPage figure {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    #mainPage p {
        width: 90%;
    }

    #mainPage figure {
        width: 90%;
    }
}

#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e9c46a;
    width: 100%;
    min-height: 100vh;
}

#gallery h2 {
    text-align: center;
    padding: 50px;
    font-size: 4em;
    color: black;
    text-shadow: 0 0 10px gray;
}

#gallery>p {
    text-align: center;
    font-size: 1.5em;
    color: black;
    padding-bottom: 50px;
}

#imageContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.imageBox {
    box-sizing: border-box;
    flex: 25%;
    width: 25%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 10px;
}

.imageBox:last-of-type {
    flex-grow: 2000;
}

.imageBox img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .2s;
    cursor: pointer;
}

.imageBox img:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

@media only screen and (max-width: 1200px) {
    .imageBox {
        flex: 50%;
    }

    imageBox img {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .imageBox {
        flex: 100%;
    }

    imageBox img {
        width: 90%;
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(233,196,106, 0.7);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.slideShow {
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .slideShow {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .slideShow {
        width: 90%;
    }
}

.slideShow p a {
    text-decoration: none;
    color: black;
}

.slideShow p a:hover {
    text-decoration: underline;
}

.close {
    color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkslategray;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: black;
    font-size: 2em;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    color: darkslategray;
}

.slideShow img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slideShow p {
    font-size: 1.2em;
    color: black;
    text-align: center;
}


.numbertext {
    font-size: 1.2em;
    color: black;
}

#formSection {
    padding-top: 50px;
    width: 100%;
    background-color: #2a9d8f;
    padding-top: 50px;
}

#formSection h2 {
    font-size: 4em;
    padding: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px gray;
}

@media only screen and (max-width: 800px) {
    #formSection h2 {
        font-size: 3em;
    }
}

#formSection p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

form {
    padding: 50px;
}

fieldset {
    border-style: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 50px;
    background-color: #f4a261;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

legend {
    background-color: #264653;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    padding: 10px 15px;
}

label {
    font-size: 1.2em;
}

input, select {
    line-height: 1.7em;
    font-size: 1.2em;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
}

select {
    padding: 6px 5px;
}

.formText {
    font-size: 1.2em;
}

input[type=text], input[type=email], input[type=password], input[type=number], select {
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    background-color: lightblue;
}

input[type=submit] {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #264653;
    color: white;
    margin: 10px 0;
}

footer {
    box-sizing: border-box;
    background-color: #264653;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}