html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url("../fonts/DroidSansMono.ttf");
}

body {
    position: relative;
    font-family: 'Noto Sans' sans-serif !important;
}

.navbar {
    background-color: rgb(30, 30, 30) !important;
    font-weight: 500;
}

.nav-link {
    font-size: 1.2em;
}

#welcome {
    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#welcome-content {
    font-family: 'Droid Sans Mono';
    padding: 100px;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}

@media only screen and (max-width: 1400px) {
    #welcome-content {
        padding: 50px;
    }
}

h1 {
    color: white;
    font-size: 3em;
}

.closing {
    color: rgb(127, 127, 127);
}

.tag {
    color: rgb(86, 156, 214);
}

#welcome-content p {
    font-size: 1.5em;
    margin: 20px auto;
    color: white;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2em;
    }
    #welcome-content {
        padding: 20px;
    }
    #welcome-content p {
        font-size: 1em;
    }
}


#about {
    background-color: rgb(30, 30, 30);
    color: white;
}

#about-content {
    font-size: 1.2em;
}

#about-content a:hover {
    color: rgb(156, 220, 254);
}

h2 {
    font-size: 3em;
}

.lightblue {
    color: rgb(156, 220, 254);
}

.brown {
    color: rgb(206, 145, 120);
}

.blue {
    color: rgb(86, 156, 214);
}

@media only screen and (max-width: 800px) {
    h2 {
    font-size: 2em;
    }
    #about-content {
        font-size: 1em;
    }
}

#projects {
    background-color: rgb(37, 37, 38);
    padding-top: 100px !important;
}

.project-link {
    color: white;
    transition: 0.5s;
}

.project-link .hover {
    display: none;
    text-decoration: underline;
    font-weight: 600;
}

.project-link:hover {
    text-decoration: none;
    filter: drop-shadow(10px 10px 15px rgb(22, 22, 22)) brightness(110%);
    transition: 0.5s;
}

.default, .hover {
    font-size: 1.2em;
    margin-bottom: -15px;
}

.project-link:hover .default {
    display: none;
}

.project-link:hover .hover {
    display: block;
}

#contact {
    padding-top: 100px;
    min-width: 100% !important;
    background-color: rgb(30, 30, 30);
}

#contact-text {
    font-size: 1.5em;
    padding-bottom: 70px;
    color: rgb(156, 220, 254);
}

#contact-content {
    font-family: 'Droid Sans Mono';
}

#contact a {
    font-size: 1.5em;
    color: white;
}

#contact a .link-closing, #contact a .link-tag {
    color: rgb(30, 30, 30);
    transition: 0.5s color ease-out;
}

#contact a:hover .link-closing {
    color: rgb(127, 127, 127);
}

#contact a:hover .link-tag {
    color: rgb(86, 156, 214);
}

#contact a:hover {
    color: rgb(206, 145, 120);
    text-decoration: underline;
    text-transform: lowercase;
}

.fa {
    color: rgb(86, 156, 214);
    font-size: 4em;
}

@media only screen and (max-width: 800px) {
    #contact a {
        font-size: 1em;
    }
}

footer {
    background-color: rgb(0, 122, 204);
    color: white;
    text-align: right;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
}

footer>p {
    padding-right: 10px;
}