html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.navbar {
    background-color: #ED6A5A !important;
}

.nav-link {
    font-size: 1.2em;
}

#welcome {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#welcome-content {
    padding: 100px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.7);
}

h1 {
    color: #ED6A5A;
    font-size: 4em;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2em;
    }
}

#welcome p {
    font-size: 1.5em;
    margin: 0;
    color: darkslategray;
}

#welcome-link {
    margin-top: 10px;
}

#about {
    font-size: 1.2em;
    background-color: #F4F1BB;
}

h2 {
    font-size: 3em;
}

@media only screen and (max-width: 800px) {
    h2 {
    font-size: 2em;
    }
}

#projects {
    background-color: #E6EBE0;
    padding-top: 100px !important;
}

.btn-primary {
    background-color: #ED6A5A !important;
    border: #F4F1BB !important;
}

.btn:active,.btn:focus {
    box-shadow: none !important;
}

#contact {
    background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#effect {
    background-color: rgba(240, 240, 240, 0.7);
    min-width: 100% !important;
}

#contact-content {
    background-color: rgba(240, 240, 240, 0.7);
    padding: 100px;
    border-radius: 5px;
}

#contact h2 {
    color: #ED6A5A;
}

#contact a {
    font-size: 1.5em;
    margin: 5px;
    color: darkslategray;
}

#contact a:hover {
    color: gray;
    text-decoration: none;
}