* {
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    background-color: black;
}

h1 {
    font-size: 4em;
    color: white;
    text-align: center;
    padding: 50px;
}

canvas {
    padding: 5px;
    margin: 0 25px;
    border: thin solid white;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard {
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
}

select, button {
    outline: none;
    border: none;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 1em;
    font-family: monospace;
}

button:active {
    transform: scale(0.95);
}

#result, #start {
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 25px;
}

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
}

a {
    color: white;
    font-size: 2em;
}