#welcome {
    background-image: url("../img/background.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-title {
    text-shadow: 0 0 5px black;
    color: white;
}

.navigation {
    font-size: 1.7em;
    text-shadow: 0 0 5px black;
    color: white;
    text-decoration: none;
    z-index: 100;
}

.navigation:hover {
    color: rgb(240, 240, 240);
}

#gallery {
    background-color: rgb(48, 48, 48);
}

.carousel-item>img {
    width: auto;
    height: 90vh !important;
}

#about {
    background-color: rgb(64, 64, 64);
}

#about-text {
    text-align: justify;
}

.contact {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.contact:hover {
    color: rgb(240, 240, 240);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .carousel-inner {
        height: 80vh !important;
    }
    .carousel-item>img {
        margin: auto auto;
        height: auto !important;
        width: 90vw !important;
    }
    .navigation {
        display: none;
    }
    .mobile, .mobile:active, .mobile:hover {
        display: block;
        font-size: 2em;
        text-shadow: 0 0 5px black;
        color: white;
        text-decoration: none;
    }
}